*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #386641 !important;
}
.msg-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    background: #e36414;
    line-height: 40px;
    padding: 10px;
    border-radius: 60px;
    cursor: pointer;
    color: #fff;
}
::placeholder{
    color: #fff;
}
.msg-input{
    background-color: #e36414;
    color: #fff;
    outline: none;
    border: none;
    line-height: 40px;
    width: 0px;
    float: left;
    font-size: 1em;
    transition: 0.7s ease;
}
.msg-btn{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #a7c957;
    padding: 12px;
    border-radius: 50%;
    float: right;
    color:#e36414;
    transition: 0.4s ease;
}
.msg-box:hover > .msg-input,
.msg-input:focus{
    width: 240px;
    margin: 0px 8px;
}
.msg-box:hover > .search-btn,
.msg-input:focus + .msg-btn{
    background: #a7c957;
    color: #fff;
}